body {
    background-color: #f36520;
}

header, nav,main, .row div  {
    background-color: #fff;
    min-height: 10vh;
    margin:2vh;
 
}
header{
    margin: 2vh auto;
}
nav, main{
    min-height: 82vh;
}